h1 {
    color :yellow;
    font-size: 25px;
}
.titleName {
      display: inline-block;
      border: 2px;   
      border-color: black;
      width: 400px;
      height: 400px;  
      
      margin: 100px;  

}
body{
    display: block;
    background-color: blueviolet;
    align-items: center;
    border: 2px;
    width: 700px;
}
.box{
    border: 2px, black;
}